body {
  background-color: rgba(0, 0, 0, 0.9);
}
#hnmain {
  background-color: #000831;
}

#hnmain > tbody > tr:nth-child(1) > td {
  background-color: #fa2b00 !important;
}
#hnmain > tbody > tr:nth-child(4) > td > table > tbody > tr > td {
  background-color: #fa2b00 !important;
}
table tr:nth-child(3) table * {
  color: #00d973 !important;
}
table tr:nth-child(3) .subtext,
table tr:nth-child(3) .sitebit.comhead {
  opacity: 0.5;
}

.yclinks a {
  color: #00d973 !important;
}

table tr:nth-child(3) {
  background-color: #000831;
}
